# Wind Statistics

### Introduction:

The data have been modified to contain some missing values, identified by NaN.  
Using pandas should make this exercise
easier, in particular for the bonus question.

You should be able to perform all of these operations without using
a for loop or other looping construct.


1. The data in 'wind.data' has the following format:

In [434]:
"""
Yr Mo Dy   RPT   VAL   ROS   KIL   SHA   BIR   DUB   CLA   MUL   CLO   BEL   MAL
61  1  1 15.04 14.96 13.17  9.29   NaN  9.87 13.67 10.25 10.83 12.58 18.50 15.04
61  1  2 14.71   NaN 10.83  6.50 12.62  7.67 11.50 10.04  9.79  9.67 17.54 13.83
61  1  3 18.50 16.88 12.33 10.13 11.17  6.17 11.25   NaN  8.50  7.67 12.75 12.71
"""

'\nYr Mo Dy   RPT   VAL   ROS   KIL   SHA   BIR   DUB   CLA   MUL   CLO   BEL   MAL\n61  1  1 15.04 14.96 13.17  9.29   NaN  9.87 13.67 10.25 10.83 12.58 18.50 15.04\n61  1  2 14.71   NaN 10.83  6.50 12.62  7.67 11.50 10.04  9.79  9.67 17.54 13.83\n61  1  3 18.50 16.88 12.33 10.13 11.17  6.17 11.25   NaN  8.50  7.67 12.75 12.71\n'

   The first three columns are year, month and day.  The
   remaining 12 columns are average windspeeds in knots at 12
   locations in Ireland on that day.   

   More information about the dataset go [here](wind.desc).

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np 
import datetime

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/Wind_Stats/wind.data)

### Step 3. Assign it to a variable called data and replace the first 3 columns by a proper datetime index.

In [3]:
url = 'https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/Wind_Stats/wind.data'

data = pd.read_csv(url, sep='\s+', parse_dates=[[0,1,2]])

data.head()

,Yr_Mo_Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
0,2061-01-01,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1,2061-01-02,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
2,2061-01-03,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
3,2061-01-04,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
4,2061-01-05,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83

### Step 4. Year 2061? Do we really have data from this year? Create a function to fix it and apply it.

In [6]:
def fix_century(x):
    year = x.year - 100 if x.year > 1989 else x.year
    return datetime.date(year, x.month, x.day)

data['Yr_Mo_Dy'] = data['Yr_Mo_Dy'].apply(fix_century)

data.head()

,Yr_Mo_Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
0,1961-01-01,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1,1961-01-02,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
2,1961-01-03,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
3,1961-01-04,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
4,1961-01-05,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83

### Step 5. Set the right dates as the index. Pay attention at the data type, it should be datetime64[ns].

In [11]:
data['Yr_Mo_Dy'] = pd.to_datetime(data['Yr_Mo_Dy'])

data = data.set_index('Yr_Mo_Dy')

data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6574 entries, 1961-01-01 to 1778-12-31
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   RPT     6568 non-null   float64
 1   VAL     6571 non-null   float64
 2   ROS     6572 non-null   float64
 3   KIL     6569 non-null   float64
 4   SHA     6572 non-null   float64
 5   BIR     6574 non-null   float64
 6   DUB     6571 non-null   float64
 7   CLA     6572 non-null   float64
 8   MUL     6571 non-null   float64
 9   CLO     6573 non-null   float64
 10  BEL     6574 non-null   float64
 11  MAL     6570 non-null   float64
dtypes: float64(12)
memory usage: 667.7 KB

### Step 6. Compute how many values are missing for each location over the entire record.  
#### They should be ignored in all calculations below.

In [12]:
data.isnull().sum()

RPT    6
VAL    3
ROS    2
KIL    5
SHA    2
BIR    0
DUB    3
CLA    2
MUL    3
CLO    1
BEL    0
MAL    4
dtype: int64

### Step 7. Compute how many non-missing values there are in total.

In [13]:
data.notna().sum()

RPT    6568
VAL    6571
ROS    6572
KIL    6569
SHA    6572
BIR    6574
DUB    6571
CLA    6572
MUL    6571
CLO    6573
BEL    6574
MAL    6570
dtype: int64

### Step 8. Calculate the mean windspeeds of the windspeeds over all the locations and all the times.
#### A single number for the entire dataset.

In [15]:
data.sum().sum()/ data.notna().sum().sum()

10.227883764282181

### Step 9. Create a DataFrame called loc_stats and calculate the min, max and mean windspeeds and standard deviations of the windspeeds at each location over all the days 

#### A different set of numbers for each location.

In [17]:
loc_stats = data.describe(percentiles=[])

loc_stats

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
count,6568.000000,6571.000000,6572.000000,6569.000000,6572.000000,6574.000000,6571.000000,6572.000000,6571.000000,6573.000000,6574.000000,6570.000000
mean,12.362987,10.644314,11.660526,6.306468,10.455834,7.092254,9.797343,8.495053,8.493590,8.707332,13.121007,15.599079
std,5.618413,5.267356,5.008450,3.605811,4.936125,3.968683,4.977555,4.499449,4.166872,4.503954,5.835037,6.699794
min,0.670000,0.210000,1.500000,0.000000,0.130000,0.000000,0.000000,0.000000,0.000000,0.040000,0.130000,0.670000
50%,11.710000,10.170000,10.920000,5.750000,9.960000,6.830000,9.210000,8.080000,8.170000,8.290000,12.500000,15.000000
max,35.800000,33.370000,33.840000,28.460000,37.540000,26.160000,30.370000,31.080000,25.880000,28.210000,42.380000,42.540000

### Step 10. Create a DataFrame called day_stats and calculate the min, max and mean windspeed and standard deviations of the windspeeds across all the locations at each day.

#### A different set of numbers for each day.

In [19]:
day_stats = pd.DataFrame()


day_stats['min'] = data.min(axis=1)
day_stats['max'] = data.max(axis=1)
day_stats['mean'] = data.mean(axis=1)
day_stats['std'] = data.std(axis=1)

day_stats.head()

             min    max       mean       std
Yr_Mo_Dy
1961-01-01  9.29  18.50  13.018182  2.808875
1961-01-02  6.50  17.54  11.336364  3.188994
1961-01-03  6.17  18.50  11.641818  3.681912
1961-01-04  1.79  11.75   6.619167  3.198126
1961-01-05  6.17  13.33  10.630000  2.445356

### Step 11. Find the average windspeed in January for each location.  
#### Treat January 1961 and January 1962 both as January.

In [20]:
data[data.index.month == 1].mean()

RPT    14.847325
VAL    12.914560
ROS    13.299624
KIL     7.199498
SHA    11.667734
BIR     8.054839
DUB    11.819355
CLA     9.512047
MUL     9.543208
CLO    10.053566
BEL    14.550520
MAL    18.028763
dtype: float64

### Step 12. Downsample the record to a yearly frequency for each location.

In [21]:
data.groupby(data.index.year).mean()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
Yr_Mo_Dy,,,,,,,,,,,,
1774,13.643096,11.811781,12.336356,6.427041,11.110986,6.809781,10.084603,9.896986,9.331753,8.736356,13.252959,16.947671
1775,12.008575,10.293836,11.564712,5.269096,9.190082,5.668521,8.562603,7.843836,8.797945,7.382822,12.631671,15.307863
1776,11.737842,10.203115,10.761230,5.109426,8.846339,6.311038,9.149126,7.146202,8.883716,7.883087,12.332377,15.471448
1777,13.099616,11.144493,12.627836,6.073945,10.003836,8.586438,11.523205,8.378384,9.098192,8.821616,13.459068,16.590849
1778,12.504356,11.044274,11.380000,6.082356,10.167233,7.650658,9.489342,8.800466,9.089753,8.301699,12.967397,16.771370
1961,12.299583,10.351796,11.362369,6.958227,10.881763,7.729726,9.733923,8.858788,8.647652,9.835577,13.502795,13.680773
1962,12.246923,10.110438,11.732712,6.960440,10.657918,7.393068,11.020712,8.793753,8.316822,9.676247,12.930685,14.323956
1963,12.813452,10.836986,12.541151,7.330055,11.724110,8.434712,11.075699,10.336548,8.903589,10.224438,13.638877,14.999014
1964,12.363661,10.920164,12.104372,6.787787,11.454481,7.570874,10.259153,9.467350,7.789016,10.207951,13.740546,14.910301
1965,12.451370,11.075534,11.848767,6.858466,11.024795,7.478110,10.618712,8.879918,7.907425,9.918082,12.964247,15.591644
1966,13.461973,11.557205,12.020630,7.345726,11.805041,7.793671,10.579808,8.835096,8.514438,9.768959,14.265836,16.307260
1967,12.737151,10.990986,11.739397,7.143425,11.630740,7.368164,10.652027,9.325616,8.645014,9.547425,14.774548,17.135945
1968,11.835628,10.468197,11.409754,6.477678,10.760765,6.067322,8.859180,8.255519,7.224945,7.832978,12.808634,15.017486
1969,11.166356,9.723699,10.902000,5.767973,9.873918,6.189973,8.564493,7.711397,7.924521,7.754384,12.621233,15.762904
1970,12.600329,10.726932,11.730247,6.217178,10.567370,7.609452,9.609890,8.334630,9.297616,8.289808,13.183644,16.456027
1971,11.273123,9.095178,11.088329,5.241507,9.440329,6.097151,8.385890,6.757315,7.915370,7.229753,12.208932,15.025233
1972,12.463962,10.561311,12.058333,5.929699,9.430410,6.358825,9.704508,7.680792,8.357295,7.515273,12.727377,15.028716
1973,11.828466,10.680493,10.680493,5.547863,9.640877,6.548740,8.482110,7.614274,8.245534,7.812411,12.169699,15.441096

### Step 13. Downsample the record to a monthly frequency for each location.

In [23]:
data.groupby(data.index.to_period('M')).mean()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
Yr_Mo_Dy,,,,,,,,,,,,
1774-01,20.990968,17.623548,17.514839,10.549355,15.858387,11.298387,14.112258,12.786452,14.691935,15.092903,19.929677,24.573226
1774-02,13.576071,12.451786,11.263571,6.103929,10.590357,6.516429,9.818929,8.578929,9.212857,9.045000,12.172143,16.891786
1774-03,11.156129,10.725484,12.019355,5.743226,9.576452,5.892903,8.520000,9.039032,8.339032,7.626774,11.234516,15.141613
1774-04,9.481000,6.919667,12.099333,4.061000,7.659000,4.046333,5.438667,7.609333,6.058667,5.024000,7.983333,9.898000
1774-05,13.381290,11.769677,12.355484,6.656452,10.874194,6.481290,9.680645,10.810645,8.830323,9.624516,13.319032,16.006774
...,...,...,...,...,...,...,...,...,...,...,...,...
1973-08,8.955161,7.868710,8.996774,4.396129,7.860645,4.989355,6.051290,5.173548,6.171935,5.745161,10.512258,12.328710
1973-09,11.632667,10.963667,11.634667,5.194333,9.100333,5.730667,7.053000,7.048333,6.911667,6.111667,12.149667,13.966667
1973-10,11.531935,9.858710,11.535161,4.356452,8.773226,5.189677,6.455806,7.140000,6.254516,6.890323,10.758387,14.955484
1973-11,11.540667,10.868000,10.613000,5.385000,10.463667,6.147333,7.525667,7.619667,8.378333,8.311333,11.499333,18.441000
1973-12,13.670000,12.086774,11.278065,5.619355,10.672581,6.914516,10.841290,8.516129,9.311613,9.702581,13.274194,19.728387

### Step 14. Downsample the record to a weekly frequency for each location.

In [24]:
data.groupby(data.index.to_period('W')).mean()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
Yr_Mo_Dy,,,,,,,,,,,,
1773-12-27/1774-01-02,24.920000,19.440000,20.850000,12.560000,18.710000,14.145000,12.440000,15.685000,16.830000,18.225000,19.750000,26.080000
1774-01-03/1774-01-09,19.768571,14.755714,17.075714,9.928571,13.565714,10.191429,11.825714,10.184286,13.851429,14.297143,17.865714,21.792857
1774-01-10/1774-01-16,25.305714,22.442857,20.308571,12.838571,19.318571,13.554286,17.101429,15.172857,15.938571,16.701429,22.851429,27.594286
1774-01-17/1774-01-23,16.647143,15.665714,14.101429,7.975714,14.370000,9.757143,13.190000,12.125714,13.861429,13.177143,20.292857,23.902857
1774-01-24/1774-01-30,20.750000,17.194286,17.408571,10.767143,15.142857,10.801429,14.737143,12.905714,14.377143,15.522857,19.505714,24.832857
...,...,...,...,...,...,...,...,...,...,...,...,...
1973-12-03/1973-12-09,14.308571,12.155714,11.410000,5.842857,11.184286,7.118571,11.638571,8.834286,9.438571,9.517143,13.208571,19.951429
1973-12-10/1973-12-16,17.938571,14.815714,12.851429,9.018571,14.417143,9.684286,15.762857,11.758571,12.958571,14.481429,17.088571,26.177143
1973-12-17/1973-12-23,12.840000,12.352857,10.637143,4.005714,8.612857,4.204286,7.381429,6.161429,7.227143,6.892857,10.060000,15.557143
1973-12-24/1973-12-30,10.910000,10.161429,10.661429,5.077143,9.685714,6.960000,10.311429,8.281429,9.310000,9.505714,13.648571,19.034286
1973-12-31/1974-01-06,10.670000,10.040000,6.870000,1.460000,6.960000,5.750000,3.830000,6.210000,4.750000,6.130000,12.790000,15.790000

### Step 15. Calculate the min, max and mean windspeeds and standard deviations of the windspeeds across all locations for each week (assume that the first week starts on January 2 1961) for the first 52 weeks.

In [26]:
weekly = data.resample('W').agg(['min','max','mean','std'])


weekly.loc[weekly.index[1:53], "RPT":"MAL"].head()

              RPT                                VAL                    \
              min    max       mean       std    min    max       mean
Yr_Mo_Dy
1774-01-09   6.50  26.08  19.768571  6.327149  10.63  17.71  14.755714
1774-01-16  15.83  31.75  25.305714  5.779253  16.42  26.63  22.442857
1774-01-23  11.17  20.96  16.647143  3.381192  10.54  20.79  15.665714
1774-01-30  12.79  27.58  20.750000  5.294374  10.96  21.96  17.194286
1774-02-06   9.25  24.08  17.512857  5.969086   5.46  21.75  15.248571

                        ROS         ...        CLO              BEL         \
                 std    min    max  ...       mean       std    min    max
Yr_Mo_Dy                            ...
1774-01-09  3.042537   6.83  24.58  ...  14.297143  4.413278  11.42  23.38
1774-01-16  3.918561  14.42  24.58  ...  16.701429  3.929302  15.71  31.08
1774-01-23  3.195741  11.04  17.37  ...  13.177143  3.959856   4.67  26.16
1774-01-30  3.804453   9.79  21.29  ...  15.522857  4.488347  16.46  25.96
1774-02-06  5.559797   7.71  21.09  ...  10.577143  3.398675   9.46  19.21

                                   MAL
                 mean       std    min    max       mean       std
Yr_Mo_Dy
1774-01-09  17.865714  4.062938  15.34  26.79  21.792857  4.359731
1774-01-16  22.851429  6.420551  20.62  32.30  27.594286  4.601032
1774-01-23  20.292857  7.562204  10.00  31.20  23.902857  7.023092
1774-01-30  19.505714  2.993141  19.04  38.79  24.832857  6.701360
1774-02-06  14.148571  3.281836  16.25  22.75  19.381429  2.582856

[5 rows x 48 columns]